---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <p>
        <h1>Credits</h1>
        <ul>
            <li> <a href="https://www.chartjs.org/"> ChartsJS </a></li>
            <li> <a href="https://picocss.com/"> Pico CSS </a></li>
            <li> <a href="https://github.com/"> Github </a></li>
            <li> <a href="https://astro.build/"> Astro </a></li>
            <li> <a href="https://nca2014.globalchange.gov/"> NCA </a></li>
            <li> <a href="https://grist.org/wp-content/uploads/2019/10/fire.jpg"> Maureen Clark / AP Images </a></li>
            <li> <a href="https://www.noaa.gov/climate"> NOAA </a></li>
            <li> <a href="https://fastapi.tiangolo.com/"> Fast API </a></li>
            <li> <a href="https://www.uvicorn.org/"> Uvicorn </a></li>
            <li> <a href="https://pypi.org/project/Pillow/"> Python Imaging Library </a></li>
            <li> <a href="https://pandas.pydata.org/"> Pandas </a></li>
            <li> Collegiate Font </li>
            <li> <a href="https://hasura.io/"> Hasura </a></li>
            <li> <a href="https://graphql.org/"> GraphQL </a></li>
            <li> <a href="https://pypi.org/project/requests/"> Request Library </a></li>
            <li> <a href="https://pypi.org/project/python-dotenv/"> Python dotenv Library </a></li>
            <li> <a href="https://gunicorn.org/"> Gunicorn </a></li>
            <li> <a href="https://www.trymito.io/"> Mito </a></li>
            <li> <a href="https://www.noaa.gov/climate"> OpenAPI </a></li>
            <li> <a href="https://www.noaa.gov/climate"> Netlify Hosting </a></li>
            <li> <a href="https://www.noaa.gov/climate"> Railway Hosting </a></li>
            <li> <a href="https://www.noaa.gov/climate"> Postgres Hosting </a></li>
            <li> <a href="https://www.noaa.gov/climate"> Docker </a></li>


            <li> All the members of Team Aeromates. </li>
        </ul>
    </p>
</Layout>