---
import "@picocss/pico/css/pico.min.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aeromated</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <li><strong>Aeromated</strong></li>
        </ul>
        <ul>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#" role="button">Take the leap!</a></li>
        </ul>
      </nav>
      <main>
        <header>
          <h1 style="font-size: 550%; text-align: center; text-justify: auto;">Aeromated</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id
            vulputate neque. Suspendisse neque metus, ornare sit amet varius id,
            imperdiet quis massa. Mauris congue, turpis et sodales posuere, ante
            lectus tincidunt sapien, non condimentum nulla ex non tortor. Nullam
            nec efficitur augue. Nulla vehicula dolor luctus erat sollicitudin
            eleifend. Sed interdum mollis rhoncus. Etiam faucibus sem augue.
            Maecenas in elementum elit, quis finibus mauris. Cras vel ipsum non
            ex interdum dignissim eget sed ante. Curabitur eu metus arcu. Fusce
            a congue arcu. Phasellus rhoncus, est convallis hendrerit molestie,
            lectus dui porttitor sem, in vehicula augue nisl et justo. Phasellus
            gravida magna laoreet neque dictum, eu maximus purus dapibus. Donec
            sodales sagittis diam feugiat sodales.
          </p>
          <div class="margin: 50%;">
            <a href="#" role="button" class="secondary">Dive right in!</a>
          </div>
        </header>
      </main>
    </div>
  </body>
</html>
