---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <header>
    <h1
      style="font-size: 550%; text-align: center; text-justify: auto; background: #105BD8;
background: linear-gradient(to right, #ff4d4d 0%, #f9cb28 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;"
    >
      Aeromated
    </h1>
    <p>
      Over the past 60 years, the average temperature across Alaska has increased by approximately 3°F. This increase is more than twice the warming seen in the rest of the United States. Warming in the winter has increased by an average of 6°F and has led to changes in ecosystems, such as earlier breakup of river ice in the spring.

<p> Click on the button below to know more about climate change has affected our natural habitats because what happens in Alaska today will happen in your town tomorrow.
</p>
    </p>
    <div style="text-align: center;">
      <a href="/course" role="button" class="secondary">Dive right in!</a>
    </div>
  </header>
</Layout>
