---
import Layout from "../../layouts/layout.astro";
---

<Layout>
  <h1>Welcome to the course!</h1>
  <p>
    So, you have decided to learn about the adverse effects of climate change in
    the Alaskan regions? If so, you are at the right spot we, the Aeromates,
    have designed this short course to teach you about the same with real NASA
    data. <br /> Switch on your researcher mode and let's explore what secrets lie
    in NASA's goldmine.
  </p>

  <details open>
    <summary>What we do?</summary>
    <p>
      Visualise NASA's Arctic-Boreal Vulnerability Experiment (ABoVE) dataset
      and link the changing climate with vegetation and wildlife in Alaska and
      Canada.
    </p>
    <p>
      Over the past 60 years, the average temperature across Alaska has
      increased by approximately 3°F. This increase is more than twice the
      warming seen in the rest of the United States. Warming in the winter has
      increased by an average of 6°F and has led to changes in ecosystems, such
      as earlier breakup of river ice in the spring.
    </p>
    <p>
      Rising temperatures may provide some benefits in Alaska, such as a longer
      growing season for agricultural crops, increased tourism, and access to
      natural resources that are currently inaccessible due to ice cover, like
      offshore oil. However, climate change is also having adverse effects on
      many ecosystems and species, and is creating new hardships for Native
      Alaskans.
    </p>
    <div style="text-align: center;">
      <img
        src="https://grist.org/wp-content/uploads/2019/10/ak-heatwave-20190704-08_large.gif?w=1200"
        width="500"
      />
    </div>
  </details>

  <details>
    <summary>Impacts of Climate Change</summary>
    <p>
      All of humanity, but especially, the people in Alaska and Canada. The
      hunting patterns and endemic population datasets will paint a great
      picture of the impacts of climate change on our lives, economies and the
      planet as a whole.
    </p>
    <a href="/course/temp" role="button" style="width:100%">See Graphically</a>
    <div style="height: 15px;"> </div>
    <div
      style="
    display: grid;
    grid-template-columns: 600px 500px;
    grid-gap: 10px;
    color: #444;"
    >
      <div style="text-align: center;">
        <img
          src="https://grist.org/wp-content/uploads/2019/10/fire.jpg"
          width="800"
        />
      </div>
      <div style="text-align: center;">
        <img
          src="https://nca2014.globalchange.gov/sites/report/files/images/web-small/Figure-22.1-small.jpg"
          width="800"
        />
      </div>
    </div>
  </details>

  <details>
    <summary>Retreating Sea Ice</summary>
    <p>
      In the spring, hunters set up camps on the ice where they butcher the
      animals they catch. But with temperatures in Utqiaġvik rising at some of
      the fastest recorded rates on Earth, the so-called landfast ice is
      breaking up earlier in the spring, reducing the amount of time it can be
      used for hunting. The ice that’s present is becoming weaker and more
      dangerous. 
      <p> 
      Most glaciers in Alaska and British Columbia are shrinking
      substantially. This trend is expected to continue and has implications for
      hydropower production, ocean circulation patterns, fisheries, and global
      sea level rise.
      </p>
    </p>
    <div style="text-align: center;">
      <img
        src="https://grist.org/wp-content/uploads/2019/10/bering_jfma_sie.gif?w=1200"
        width="800"
      />
    </div>
  </details>

  <details>
    <summary>Wildfire</summary>
    <p>
      Fires torched some 2.6 million acres across the state this year, and
      although that’s far from Alaska’s worst wildfire season — in 2004, a
      staggering 6.5 million acres burned statewide — 2019 will go down as one
      of the ten largest wildfire years since 1940. Big years like it are
      occurring far more often than they used to.
    </p>
  </details>
</Layout>
