---
import "@picocss/pico/css/pico.min.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Aeromated</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <ul>
          <a href="/"><li><strong>Aeromated</strong></li></a>
        </ul>
        <ul>
          <li><a href="/quiz" role="button" class="outline">Take the quiz!</a></li>
          <li><a href="/course" role="button">Take the leap!</a></li>
        </ul>
      </nav>
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>
